			<section class="<%= board.name %>">
				<header class="board-header">
					<h1><a href="https://<%= board.server.name %>/<%= board.name %>/" title="<%= board.title %>＠5ch掲示板" target="_blank"><%= board.title %></a></h1>
					<div class="isp"><span>投稿時速：</span><%= board.res_speed %>res/h</div>
					<div class="more"><a href="/<%= board.name %>/" title="<%= board.title %>＠2ch掲示板のニュース一覧"><span class="pc">もっと見る &gt;</span><span class="sp">一覧</span></a></div>

				</header>

				<article>
					<ol>

        <% threads.each do |thread| %>

						<li>
							<header>
								<div class="status">
									<time pubdate datetime="<%= Time.at(thread.tid).strftime("%Y-%m-%dT%H:%M:%S%:z") %>"><%= Time.at(thread.tid).strftime("%m/%d %H:%M") %></time>
									<span class="res"><%= thread.res_cnt %>res</span>
									<span class="avg"><%= thread.res_speed %>res/h</span>
									<span class="crt"><%= thread.res_percent ? (thread.res_percent * 100).round(2) : "--.--" %>%</span>
								</div>
							</header>
							<h2><a href="https://<%= thread.board.server.name %>/test/read.cgi/<%= thread.board.name %>/<%= thread.tid %>/-100" target="_blank" class="thread"><%= thread.title %></a></h2>
						</li>
                    
        <% end %>

					</ol>
				</article>

			</section>